#notifications div {
    top: 4rem;
    position: absolute;
    border-radius: 7px;
    display: none;
    z-index: 1;
    opacity: .8;
}

#notifications {
    position: relative;
    display: flex;
    justify-content: center;
}

td.description{
    width: 50%;
}