{{> header}}

<div id="dashboard-holder">
    {{#each ideas}}
    <div class="card overflow-hidden current-card details" style="width: 20rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">{{title}}</p>
        </div>
        <img class="card-image" src="{{imageURL}}" alt="Card image cap">
        <a class="btn" href="/idea/{{_id}}">Details</a>
    </div>
    {{else}}
    <h1>No ideas yet! Be the first one :)</h1>
    {{/each}}
</div>

{{> footer}}