<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="fouronefour">
                <img class="no-found-picture" src="./images/empty.jpg" />
            </div>
            <div class="no-found-template">
                <h1>
                    There aren't any treks, yet!</h1>
                <h2>
                    What do you have in mind?</h2>
                <div class="no-found-details">
                    Be the first explorer!
                </div>
                <div class="actions">
                    <a href="/create" class="btn btn-dark btn-lg">Create the first trek? </a>
                </div>
            </div>
        </div>
    </div>
</div>