{{> header}}

<!-- Dashboard (All Causes View) -->
<div style="margin-top:3%; padding-top: 3%;" class="container">
    <h1 class="text-center">NO CAUSES :(</h1>
    <div style="margin-bottom:25%;" class="row">
        <div class="col-lg-12">
            <div class="card mt-4">
                <img style="max-width: 1200px; height: auto; border-radius:25px;" class="card-img-top img-fluid"
                    src="https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704_960_720.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">CAUSE</h3>
                    <p class="card-text">DESCRIPTION</p>
                    <a href="" class="btn btn-success">Become a donor $$$</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./Dashboard (All Causes View) -->

{{> footer}}