{{> header}}

<!-- Details View (Become a donor) -->
<div class="container" style="margin-bottom: 2%; margin-top:5%;">
    <div class="row">
        <div class="modal-content col-lg-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Make a donation</h4>
            </div>
            <div class="modal-body">
                <center>
                    <img style="border-radius: 5px;"
                        src="https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704_960_720.jpg" name="aboutme"
                        width="500" height="auto" border="0" class="img-circle">
                    <h3 class="media-heading">CAUSE</h3>
                    <span>Collected</span>
                    <strong class="label text-success">$0.00</strong>
                    <span> from </span>
                    <strong class="label text-info">$900000.00</strong>
                </center>
                <hr>
                <center>
                    <p style="word-wrap: break-word;" class="text-left"><strong>Description: </strong><br>
                        DESCRIPTION
                    </p>
                    <br>
                    <p style="word-wrap: break-word;" class="text-left"><strong>Donors:</strong><br>
                        <span>Donor 1</span>
                        <span>Donor 2</span>
                        <span>Donor 3</span>
                        <span>Donor 4</span>
                    </p>
                </center>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-danger">Close the cause</a>
                <form method="" action="">
                    <label class="grey-text font-weight-light">My donation: </label>
                    <input name="currentDonation" type="number" min="1" class="form-control" />
                    <button style="width: 100%;" class="btn btn-success" type="submit">Make the donation</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ./Details View (Become a donor) -->

{{> footer}}