@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    color: #234465;
}

body {
    padding: 5%;
}

h4 {
    width: 75%;
    margin: 0 auto;
    padding: 11px;
    text-align: center;
}

#createArticle {
    width: 48%;
    margin: 35px auto;
}

#createArticle label {
    display: block;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    outline: none;
    border-radius: 4px;
    border: 1px solid lightgrey;
}

button {
    display: block;
    background: #234465;
    border: none;
    color: white;
    font-size: 25px;
    padding: 7px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    cursor: pointer;
}

article {
    border-radius: .3em;
    text-decoration: none;
    position: relative;
    transition: background .3s ease-in,color .3s ease-in;
    margin: 1em 0;
    padding: 15px;
    box-shadow: 0 0 0.2rem 0 rgba(68,68,68,.2);
}