<!-- Footer -->
<footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright © $$ Donation University $$ 2019</p>
    </div>
</footer>
<!-- ./Footer -->