{{> header}}

<!-- Login -->
<div style="margin: 0 auto; margin-bottom:5%; margin-top:7%;" class="modal-content col-lg-6">
    <div class="card-body">
        <form method="" action="">
            <p class="h4 py-4">Login</p>
            <hr>
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Your username</label>
            <input name="username" type="text" id="defaultFormCardNameEx" class="form-control">

            <br>

            <label for="defaultFormCardPasswordEx" class="grey-text font-weight-light">Your password</label>
            <input name="password" type="password" id="defaultFormCardPasswordEx" class="form-control">

            <div class="text-center py-4 mt-3">
                <button class="btn btn-info" type="submit">Logged In</button>
            </div>
        </form>

    </div>

</div>
<!-- Login-->

{{> footer}}