#wrapper {
    width: 800px;
    border: 1px solid black;
}
#titlebar {
    background-color: beige;
    font-size: 2em;
    padding: 0.5em;
}
.report {
    margin: 1em;
    border:1px solid black;
    width: 400px;
}
.report .title {
    background-color: cornflowerblue;
    color: white;
    padding: 0.25em;
    position: relative;
}
.report .body p {
    margin: 0.5em;
}
.report .title .status {
    display: inline-block;
    right: 0px;
    position: absolute;
    margin-right: 0.5em;
}